@font-face {
    font-family: nevera;
    src: url(nevera\ \(2\).otf) format("opentype");
    

}
@font-face {
    font-family: Cyberform;
    src: url(cyberform.ttf) format("truetype");
}
    

body {
    color: rgb(255, 255, 255);
    background-color:  #0f172a;
    font-family: nevera;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    
}
.story {
    position: relative;
    font-family: nevera;
    font-size: 20px;
    top: 100%;
    text-indent: 20%;
    text-align: center;


}
h1 {
    font-family: Cyberform;
    font-size: 75px

}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
}
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
}
nav  {
   background-color:  #000000;
   display: block;
   float: left;
   width: 10%;
   height: 200px;
   padding: 10px;
   margin: 0px;
   position: fixed;
   top: 4%;
   text-align: justify;
   text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
   text-decoration: none;
}  



h4 {
    font-family: nevera;
    font-size: 30px;
    color:  rgb(255, 255, 255);
    float: right;
    position: fixed;
    top: 4%;
    right: 5%;
    text-decoration: underline;

 -webkit-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 50px  rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px
         rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255), 0 0 60px rgb(255, 255, 255), 0 0 70px rgb(255, 255, 255);
    }
    to {
        text-shadow: none;
    }
}