@font-face {
    font-family: nevera;
    src: url(nevera\ \(2\).otf) format("opentype");
}
body{ 
    background-color: rgb(0,174, 255);
    font-family: nevera;
    text-align: center;
    font-weight: bold;

}
h1 {
    
}