.yo {
    display:flex;
    flex-direction: row;
    text-align:center;
}

th {
    position:relative;
    margin:0;
    font-size:30px;
    padding:10px 50px 10px 50px;
    border-bottom: 1px solid grey;
}

tr {
    border-bottom: 1px solid grey;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}