@font-face {
    font-family: nevera;
    src: url(nevera\ \(2\).otf) format("opentype");
    

}
@font-face {
    font-family: Cyberform;
    src: url(cyberform.ttf) format("truetype");
}
    

body {
    color: rgb(0,174, 255);
    background-color: black;
    font-family: nevera;
    text-align: center;
    font-weight: bold;

}
h1 {
    font-family: Cyberform;
    font-size: 120px

}

nav{
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
   display: flex;
   float: left;
   border: 2px solid rgb(0, 174, 255);
   width: 20%;
   height: 50%;
} 

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 50px rgb(0, 174, 255), 0 0 20px rgb(0, 174, 255), 0 0 30px rgb(0, 174, 255), 0 0 40px
         rgb(0, 174, 255), 0 0 50px rgb(0, 174, 255), 0 0 60px rgb(0, 174, 255), 0 0 70px rgb(0, 174, 255);
    }
    to {
        text-shadow: none;
    }
}